<section id="footer">

  <img src="media/border2.png" alt="" id="banner-border">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/media/logo.png" alt="" id="footer-logo">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eius, quae exercitationem reiciendis aspernatur minus. Saepe modi quam itaque quia.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio odio velit quia accusantium. Tempore voluptatem aut commodi corporis hic autem totam possimus saepe ducimus eum, doloremque quia maiores sequi id?</p>
        </div>
  
        <div class="col-md-4">
          <h2>Indigo Pvt Ltd</h2>
          <p><span><i class="bi bi-buildings"></i></span><%=address1.add%></p>
          <p><span><i class="bi bi-telephone"></i></span>0321-<%=address1.tel%></p>
          <p><span><i class="bi bi-phone"></i></span>+91-<%=address1.phone%></p>
          <p><span><i class="bi bi-envelope"></i></span><%=address1.email%></p>
        </div>
        
          <div class="col-md-4 " >
          <h2>Query Form</h2>
          <form action="" method="post">
            <input type="email" name="email" id="" placeholder="Enter your email" class="form-control">
            <textarea name="query" id="" placeholder="Enter query Here" class="form-control mt-1 mb-1"></textarea>
            <button type="submit" class="btn btn-success form-control mt-2">Post</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <a href="<%=address1.inst%>" target="_blank"><img src="/media/instagram-icon.png" alt=""></a>
          <a href="<%=address1.linkdin%>"target="_blank"><img src="/media/linkedin-icon.png" alt=""></a>
          <a href="<%=address1.twitter%>"target="_blank"><img src="/media/twitter-icon.png" alt=""></a>
         <a href="<%=address1.snap%>"target="_blank"><img src="/media/snapchat-icon.png" alt=""></a>
        </div>
      </div>
    </div>
   </section>